.masthead{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8)100% ), url(../assets/coffee2.jpg);
    background-repeat: no-repeat;
    background-size : cover;
    height : 100vh;
    background-position : center;
    background-attachment: scroll;
}
.divider{
    height: 0.5rem;
    max-width: 20rem;
    margin: 2rem auto;
    opacity: 1;
  }
.img1{
    width: 250px;
    height: 250px;
}
.page-section{
    padding: 15rem;
}
.animation{
    width: 400px;
    height: 400px;
}
.tagline{
    font-family: 'Poppins', sans-serif;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.nav-link{
    margin-right: 20px;
    margin-left: 20px;
}
.nav-link:hover::after {
    content : '';
    display: block;
    border-bottom : 4px solid rgb(255, 196, 0);
    width : 60%;
    margin : auto;
    padding-bottom: 5px;
    margin-bottom : 8px;
}
.navbar-nav{
    padding-left: 10px;
    padding-right: 10px;
}

.button-profile {
    text-decoration: none;
    position: absolute;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
   }
   
   .button-profile:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   .button-profile:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   .button-profile:hover::before {
    filter: blur(20px);
   }
   
   .button-profile:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
   }
